{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% load static   %}

{% block start %}



<link rel="stylesheet" type="text/css" href="{% static "side.css" %}" />
    
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    

    <title>MY TEAM </title>
  </head>
  <body>
  
    <div class="studentData"> 
       <form action="" id="form1">
        <select name="name" id="name">
            <option value="JINESH CHANDRAN">JINESH CHANDRAN</option>
            <option value="JISHNU CHANDRAN">JISHNU CHANDRAN</option>
            <option value="SIVALATHA" selected>SIVALATHA</option>
            <option value="JAYALAKSHMI" selected>JAYALAKSHMI</option>
            <option value="JAYALAKSHMI" selected>SREEKKUTTY</option>
            <option value="JAYALAKSHMI" selected>VASANTHKUMAR</option>
            <option value="JAYALAKSHMI" selected>VARUN KUMAR</option>
            <option value="JAYALAKSHMI" selected>GOPISH KUMAR</option>
            </select> 
            <input type="date" placeholder="Date" id="date" required>
           
            
<label for="language">Mark Attendence:</label>
  
<select name="language" id="attendence">
<option value="Present">Present</option>
<option value="Absent">Absent</option>
<option value="Leave" selected>Leave</option>
<option value="Half Day" selected>Half Day</option>
</select>
            <input type="submit" class="btn btn-warning">
           
        </form>
    </div>



        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>date</th>
                
                    <th>Attendence</th>
                    
                </tr>
            </thead>



            <tbody id="tbody">

            </tbody>
        </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static "side.js" %}"></script>
  </body>
</html>
{% endblock start %}